$border: 1px solid white;
$text-color: #3e3e3e; // BZP Black
$hint-color: #aeaeae; // BZP Gray 1
$bg-color: #fcfcfc; // BZP Gray 2
$bg-row-color: #f8f9fa; // BZP Gray 3
$accent-color: #ffc000; // BZP Gold
$main-color: #3399ff; // BZP Brown
$hover-color:#2572bf; // BZP Brown 2z
$active-color:#205b96; // BZP Brown 3
$border-color: #e4e4e4; // BZP Gray 5
$disabled-color: #f0f0f0; // BZP Gray 4
$warning-color: #e62424; // BZP Red
$warning-hover: #e25757; // BZP Red 2
$success: #2ca514;
$table-header: #f4f4f4;
$shadow-main: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
$shadow-card: 0 3px 4px -1px rgba(0, 0, 0, 0.15);
$overlay: rgba(0, 0, 0, 0.25);
// $shadow-main: 0 7px 11px -7px rgba(62, 62, 62, 0.3);
$main-font-size: 14px;

$main-dimension: 40px;
$inputw: 270px;
$trns: 0.2s;

$main-font: Ubuntu, 'Helvetica Neue', Helvetica, sans-serif;
$title-font: 'Montserrat', arial, sans-serif;

$xs: 400px;
$sm: 568px;
$md: 768px;
$lg: 992px;
$xl: 1264px;
